

body, p, h1, h2,h3,h4,h5,h6, ul,ol,dl,li,dt,dd {
    margin: 0;
    padding: 0;
    list-style: none;

    
    font-family: "微软雅黑";
    font-size: 14px;
}

a {
    text-decoration: none;
   
}

img,input {
    vertical-align: middle;
    /* display: block; */
    border: none;
    outline-style: none;
    padding: 0;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}



.w {
    width: 1227px;
    margin: 0 auto;
    background-color: #fff;
}
 


.f1{
    float: left;
}
.f2{
    float: right;
}